In [1]:
import os

import pandas as pd
from tableone import TableOne
from efficient_apriori import apriori

In [2]:
DATADIR = '../data/flights_trifecta/preprocR1/'

DATAFILES = []

for f in os.listdir(os.path.join(DATADIR, os.listdir(DATADIR)[0])):
    DATAFILES.append(os.path.join(DATADIR, os.listdir(DATADIR)[0], f))

In [3]:
all_dfs = []
count = 0
for f in DATAFILES:
    df = pd.read_csv(f, index_col = 0, header = 0, dtype='str')
    all_dfs.append(df)
    count += 1
    print(f'{count}/{len(DATAFILES)}')

1/36
2/36
3/36
4/36
5/36
6/36
7/36
8/36
9/36
10/36
11/36
12/36
13/36
14/36
15/36
16/36
17/36
18/36
19/36
20/36
21/36
22/36
23/36
24/36
25/36
26/36
27/36
28/36
29/36
30/36
31/36
32/36
33/36
34/36
35/36
36/36

In [4]:
df = pd.concat(all_dfs, axis = 0, ignore_index = True)

In [5]:
df.head()

,YEAR,MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,CRS_DEP_TIME,CRS_ELAPSED_TIME,DISTANCE,LABEL
0,2010,1,6,9E,ATL,GA,AUS,TX,1056,154.0,813.0,1
1,2010,1,6,9E,ATL,GA,AUS,TX,1056,154.0,813.0,1
2,2010,1,6,9E,ATL,GA,AUS,TX,1056,154.0,813.0,0
3,2010,1,6,9E,ATL,GA,AUS,TX,1056,154.0,813.0,0
4,2010,1,2,9E,ATL,GA,RDU,NC,1755,85.0,356.0,0

In [6]:
df.shape

(18632160, 12)

In [7]:
df.to_csv('./r1AllFlights.csv')

In [8]:
df = pd.read_csv('./r1AllFlights.csv', index_col = 0, header = 0, dtype='str')